.admin-icon-action {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 4px;
}

.admin-icon-action .anticon {
  font-size: 14px;
}
